@model PhotoContest.Web.Models.BindingModels.CreateContestBindingModel
@{
    ViewBag.Title = "Create Contest";
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Create", "Contest", new AjaxOptions()
{
    HttpMethod = "POST",
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories)
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>
    <div>
        @Html.LabelFor(m => m.RewardStrategy)
        @Html.EnumDropDownListFor(m => m.RewardStrategy)
    </div>
    <div>
        @Html.LabelFor(m => m.ParticipationStrategy)
        @Html.EnumDropDownListFor(m => m.ParticipationStrategy)
    </div>
    <div>
        @Html.LabelFor(m => m.VotingStrategy)
        @Html.EnumDropDownListFor(m => m.VotingStrategy)
    </div>
    <div>
        @Html.LabelFor(m => m.DeadlineStrategy)
        @Html.EnumDropDownListFor(m => m.DeadlineStrategy)
    </div>
    <div>
        <input type="submit" name="name" value="Create Contest" />
    </div>
}

@section Scripts {
    <script>
        $(function () {
            $("#RewardStrategy").parent().append($('<div id="prize-div"></div>'));
            $("#RewardStrategy").on("change", function () {
                $("#prize-div").remove();
                $("#RewardStrategy").after(function () {
                    if ($(this).val() == 1) {
                        $(this).parent().append($('<div id="prize-div"></div>'));
                        $("#prize-div").append('@Html.LabelFor(m => m.NumberOfPrizes)');
                        $("#prize-div").append('@Html.EditorFor(m => m.NumberOfPrizes)');
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            $("#DeadlineStrategy").parent().append($('<div id="deadline-div"></div>'));
            $(this).parent().append($('<div id="deadline-div"></div>'));
            $("#deadline-div").append('@Html.LabelFor(m => m.EndDate)');
            $("#deadline-div").append('@Html.EditorFor(m => m.EndDate)');
            $("#DeadlineStrategy").on("change", function () {
                if ($(this).val() == 0) {
                    console.log("ByTime");
                    $("#deadline-div").remove();
                    $("#DeadlineStrategy").after(function () {
                        $(this).parent().append($('<div id="deadline-div"></div>'));
                        $("#deadline-div").append('@Html.LabelFor(m => m.EndDate)');
                        $("#deadline-div").append('@Html.EditorFor(m => m.EndDate)');
                    });
                } else if ($(this).val() == 1) {
                    console.log("ByParticipants");
                    $("#deadline-div").remove();
                    $("#DeadlineStrategy").after(function () {
                        $(this).parent().append($('<div id="deadline-div"></div>'));
                        $("#deadline-div").append('@Html.LabelFor(m => m.ParticipantsLimit)');
                        $("#deadline-div").append('@Html.EditorFor(m => m.ParticipantsLimit)');
                    });
                }
            });
        });
    </script>
}