@model PhotoContest.Web.ViewModels.ContestDetailsViewModel
@{
    ViewBag.Title = "Contest Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>@Html.LabelFor(m => m.Name) : @Model.Name</p>
    <p>@Html.LabelFor(m => m.CategoryName) : @Model.CategoryName</p>
    <p>@Html.LabelFor(m => m.CreatorName) : @Model.CreatorName</p>
    <p>@Html.LabelFor(m => m.Flag) : @Model.Flag</p>
    <p>@Html.LabelFor(m => m.ParticipatingImages) : @Model.ParticipatingImages</p>
    <p>@Html.LabelFor(m => m.Participants) : @Model.Participants</p>
</div>

<div>
    @if (Model.UserPatricipates)
    {
        using (Ajax.BeginForm("UploadImage", "Contest", new { contestId = Model.Id }, new AjaxOptions()
   {
       HttpMethod = "POST",
       InsertionMode = InsertionMode.InsertAfter,
       UpdateTargetId = "images"
   },
        
   new { @class = "btn btn-default", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" name="upload" value="" />
            <input type="text" name="title" value="" />
            <input type="text" name="description" value="" />
            <input type="submit" name="name" value="Upload Image" />
        }
    }
    else if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Participate", "", "Contest", new { }, new { @class = "btn btn-default" })
    }
</div>

<div>
    <div id="images">
        @if (Model.Images.Any())
        {
            @Html.DisplayFor(i => i.Images)
        }
        else
        {
            <span>The are no images for this contest at the moment.KUF</span>
        }
    </div>
</div>

