<div class="row row-offcanvas row-offcanvas-left pull-left">
    <div class="col-xs-12 col-sm-12 pull-left sidebar-offcanvas" id="sidebarLeft" role="navigation">
        <div class="well sidebar-nav pull-left">
            <h3><span class="label label-primary">Categories</span></h3>
            <ul class="nav">
                <li class="nav-li">
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                        @Html.ActionLink("Nature", "Index", "Category", new { area = "" }, new { @class = "" })
                    </div>
                </li>
                <li class="nav-li">
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                        @Html.ActionLink("Travel", "Index", "Category", new { area = "" }, new { @class = "" })
                    </div>
                </li>
                <li class="nav-li">
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        @Html.ActionLink("Sport", "Index", "Category", new { area = "" }, new { @class = "" })
                    </div>
                </li>
                <li class="nav-li">
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        @Html.ActionLink("Humans", "Index", "Category", new { area = "" }, new { @class = "" })

                    </div>
                </li>
                <li class="nav-li">
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        @Html.ActionLink("Animals", "Index", "Category", new { area = "" }, new { @class = "" })
                    </div>
                </li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
</div>
