@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.ContestViewModelIndex>
@{
    ViewBag.Title = "All Active Contests";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    @Html.DisplayFor(x => x)
</div>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
<div class="row">
    @Html.ActionLink("Past Contests", "PastContests", "Contest", new { }, new { @class = "btn btn-default" })
</div>
<div class="row">
    @if (this.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create Contest", "Create", "Contest", new { }, new { @class = "btn btn-default" })
    }
    @if (this.User.Identity.IsAuthenticated && ViewBag.NumberOfCreatedContests > 0)
    {
        @Html.ActionLink("Manage My Contests", "Index", "MyContests", new { }, new { @class = "btn btn-default" })
    }
</div>

