@model PhotoContest.Web.ViewModels.ImageViewModel
<div id="image-@Model.Id" class="row">
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Details", "Image", new { id=@Model.Id })"><img src="@Model.PictureUrl" class="thumbnail" /></a>
        <div>@Html.LabelFor(m => m.User) : @Html.DisplayFor(m => m.User)</div>
        <div>@Html.LabelFor(m => m.Rating) : @Html.DisplayFor(m => m.Rating)</div>
        <div id="vote">
            @if ((this.User.Identity.Name != Model.User && this.User.Identity.IsAuthenticated) && Model.VotingStrategy == "Open")
            {
                using (Ajax.BeginForm("Vote", "Image", new { imageId = Model.Id }, new AjaxOptions
                {
                    HttpMethod = "POST"
                }))
                {
                    <input type="submit" name="name" value="Vote for image" />
                }
            }
        </div>
    </div>
</div>